{% load staticfiles %}
<html>
<head>
<link rel = "stylesheet" href = "{% static "main.css" %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src = "{% static "main.js" %}"></script>
</head>
<body>
<header>
<h1>Happy Advent {{name}}!</h1>
</header>
<div class = "container">
	<div class = "left"></div>
	<div class = "gift">
		<h2>{{date}}</h2>
		{%if gift.opened == False %}
		<img class = "box" src = "{% static "gift-box.png" %}">
		<div class = "message">
		Click on the box to open your gift!
		</div>
		{%else%}
		<img class = "box" src = "{% static "box_open.png" %}">
		<div class = "description">
		<h2>{{gift.gift}}</h2>
		</div>
		<div class = "message2">
		You opened your gift! Now make sure to get it from me!<br>
		Don't forget your gift tomorrow!"
		</div>
		{%endif%}
	</div>
	<div class = "right"></div>
</div>
</body>