{% load staticfiles %}
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
<link rel = "stylesheet" href = "{% static "main.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src = "{% static "main.js" %}"></script>
</head>
<body>
<header>
<h1>Happy Advent {{name}}!</h1>
</header>
<div class = "container">
	<div class = "left"></div>
	<div class = "gift">
		<div class = "date">
			<h2>Today is {{date}}!</h2>
		</div>
		{%if gift.opened == False %}
			<div class = "box">
				<img src = "{% static "gift-box.png" %}">
			</div>
			<div class = "description">
			</div>
			<div class = "message">
				Click on the box to open your gift!
			</div>
		{%else%}
			<div class = "box">
				<img src = "{% static "box_open.png" %}">
			</div>
		<div class = "description">
		<h2>{{gift.gift}}</h2>
		</div>
		<div class = "message">
		You opened your gift! 
		{%if gift.gift_type != "compliment"%}
			Now make sure to get it from me!
		{%else%}
			I truly feel that way.
		{%endif%}
		<br>
		Don't forget your gift tomorrow!
		</div>
		{%endif%}
	</div>
	<div class = "right"></div>
</div>
</body>