html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container{
	height: 80%;
	width: 100%;
}

body{
	color: white;
}

.left, .right, .gift{
	width: 33.3%;
	height: 100%;
	float: left;
}

.left{
	width: 20%;
}

.right{
	width: 46.7%;
}

.gift{
	text-align: center;
}

header{
	text-align: center;
}

td.day{
  border: 1px solid white;
  text-align: center;
  background-color: rgba(0,0,0,.4);
}

.day img{
  width: 5em;
}

.gift_day{
  margin: 1em auto;
  width: 8em;
  height: 8em;
}

.calendar{
  margin: 0 auto;
}

a:visited{
  color: white;
}
